$cd-btn: #011c37;
$cd-txt: #15DEA5;
/*chapitre 2*/
$cd-txt2:#6300a0;
$cd-box:#fff;
$cd-txt--invalid :#fff;
$cd-danger: #b20a37;
/*chapitre 3 Créez des transitions CSS à propriétés multiples*/
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);