@import "./sass/variable";

.un {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:300px;
    margin-bottom:200px;
    .container {
        width:500px;
        .btn {
            background: $cd-btn-start;
            color: $cd-txt;
            font-size: 1.5rem;
            border: 4px solid $cd-btn;
            cursor: pointer;
            padding: 1.85rem 3rem;
            border-radius: 10rem;
            // transition-property: transform;/*indique au navigateur a quel propriété le navigateur doit appliquer la transition*/
            // transition-duration: 400ms;
            transition: transform 450ms /*ici transition-delay a 0*/, background-color 300ms 150ms/*transition delay*/; /* all /*transform*/ /*400ms;/*proprité raccourcie*/
            /*transition-delay: 0, 150ms;*/
            &:hover {
                transform:scale(1.15);
                background: $cd-btn-end;
            }
        }
    }
    .container2 {
        background-color: rgb(237,246,247);
        padding:50px;
    }
    .form{
        .warningmail {
            display:none;
            color:red;
        }
        .warningpseudo {
            display: block;    
        }
        &__group {
            display:flex;
            justify-content: center;
            align-items: center;
            color:$cd-txt2;
            flex-direction:column;
            & label {
                font-size: 1.5rem;;
            }
            &>.input-mail {
                @include inputStyle;
                &:focus {
                    border: 2px solid $cd-txt2;
                }
                &:not(:focus):invalid {/*jusqu'a ecriture du @*/
                    background:$cd-danger;
                    border:2px solid $cd-danger;
                    color:$cd-txt--invalid;
                        
                }/*cette effet permet d'avertir l'user qu'il na pas saisie une adresse mail*/
                &:not(:focus):invalid + .warningmail {
                    display:block;
                }
            }
            &>.input-pseudo{
                @include inputStyle;
                &:invalid {
                    background:$cd-danger;
                    color:$cd-txt--invalid;
                }
                &:valid + .warningpseudo{
                    display:none;
                }
            }
        }
    }
}

.deux{
    .container-ball{
        display:flex;
        flex-direction:column-reverse;
        padding:50px;
        .btn {            
            background: $cd-danger;
            font-size: 1.2rem;
            cursor: pointer;
            padding: 15px;;
            border-radius: 10rem;
            width:200px;
            height:25px;
            color:white;
            &:hover + .ball{
                transform: scale(1.15);
            }        
        }      
        .ball {            
            width: $ball-size;
            height: $ball-size;
            background: $cd-txt;
            margin-bottom: 1rem;
            border-radius: $ball-size * 0.5;
            transform: scale(1);
            transition: transform 350ms;
        }
    }   
}
